#canvas {
	display: block;
	margin: auto;
	border: 1px solid black;
	position: relative;
}

#menu {
	position: fixed;
	right: 50px;
	top: 50px;
	z-index: 2;
	background-color: white;
	padding: 20px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}

#menu label {

}

#menu input {

}